.login-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background: var(--bg2);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: 20px 20px;
  max-width: 550px;
  height: auto;
  width: 100%;
  text-align: center;
}

.login-box h2 {
  color: var(--primary);
  font-size: 1.75rem;
  margin-top: 0;
}

.input-group {
  min-height: 75px;
}

.input-group input {
  width: 100%;
  padding: 12px 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 0.93rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  transition: border-color 0.3s ease;
}

.input-group input.error-field {
  border: 1px solid rgb(255, 50, 50) !important;
}

.register-link {
  margin-top: 15px;
  font-size: 0.87rem;
  color: var(--text-dark);
}

.register-link a {
  color: var(--primary);
}

.register-link a:hover {
  color: var(--secondary);
}

.error-msg {
  color: red;
  margin-bottom: 10px;
  font-size: 0.87rem;
}

.password-group {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 12px;
  top: 45%;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.2s;
  z-index: 2;
}

.toggle-password:hover {
  opacity: 1;
}

.login-register-btn {
  font-family: "Dela Gothic One", sans-serif;
  background-color: var(--accent);
  color: var(--text-dark);
  padding: 10px 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  text-decoration: none;
  width: 100%;
  transition: background-color 0.3s, transform 0.2s;
}

.login-register-btn:hover {
  background-color: var(--button-hover);
  transform: translateY(-2px);
}

.field-error {
  color: red;
  font-size: 0.68rem;
  text-align: left;
  opacity: 0;
  transform: translateY(-3px);
  transition: opacity 0.15s ease, transform 0.15s ease;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 300;
}

.field-error.visible {
  opacity: 1;
  transform: translateY(0);
}
